<p id="notice"><%= notice %></p>

<p>
  <strong>Species:</strong>
  <%= @breed.species %>
</p>

<p>
  <strong>Breed name:</strong>
  <%= @breed.breed_name %>
</p>

<%= link_to 'Edit', edit_breed_path(@breed) %> |
<%= link_to 'Back', breeds_path %>
