<div class="col mb-3">
    <div class="card h-100">
      <img src="<%=pet.pictures.first.image%>" class="card-img-top img-fluid" alt="<%=pet.pictures.first.image%>">
      <div class="card-body">
        <h5 class="card-title"><%=pet.name%></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%=pet.species%></h6>
        <h6 class="card-subtitle mb-2 text-muted"><%=pet.gender%>, <%=pet.weight%></h6>
        <span class="badge badge-light"><%=pet.status%></span>
        <%# <p class="card-text">TEXT</p> %>
        <div>
          <a href="/pets/<%=pet.id%>" class="btn btn-outline-primary btn-sm">Details</a>
          <%#if Watchlist.where({ :pet_id => pet.id, :user_id => @current_user.id }).at(0) == nil%>
            <a href="/insert_watchlist/<%=pet.id%>" class="btn btn-outline-success btn-sm">Add to Watchlist</a>
          <%#else%>
            <a href="/delete_watchlist/<%=pet.id%>" class="btn btn-outline-danger btn-sm">Stop Watching</a>
          <%#end%>
        </div>
        <% unless pet.children_competability_ranking.nil?%>
          <span class="badge badge-pill badge-info">Children <span class="badge badge-light"><%=pet.children_competability_ranking%></span></span>
        <% end %>
        <% unless pet.dog_competability_ranking.nil?%>
          <span class="badge badge-pill badge-info">Dog <span class="badge badge-light"><%=pet.dog_competability_ranking%></span></span>
        <% end %>
        <% unless pet.cat_competability_ranking.nil?%>
          <span class="badge badge-pill badge-info">Cat <span class="badge badge-light"><%=pet.cat_competability_ranking%></span></span>
        <% end %>
        <% unless pet.home_alone_competability_ranking.nil?%>
          <span class="badge badge-pill badge-info">Home Alone <span class="badge badge-light"><%=pet.home_alone_competability_ranking%></span></span>
        <% end %>
        <% unless pet.activity_competability_ranking.nil?%>
          <span class="badge badge-pill badge-info">Activity <span class="badge badge-light"><%=pet.activity_competability_ranking%></span></span>
        <% end %>
        <% unless pet.enrichment_competability_ranking.nil?%>
          <span class="badge badge-pill badge-info">Enrichment <span class="badge badge-light"><%=pet.enrichment_competability_ranking%></span></span>
        <% end %>
        <% unless pet.human_socialability_competability_ranking.nil?%>
          <span class="badge badge-pill badge-info">Human Socialability <span class="badge badge-light"><%=pet.human_socialability_competability_ranking%></span></span>
        <% end %>
      </div>
    </div>