<p id="notice"><%= notice %></p>

<h1>Pets</h1>

<div class="row row-cols-1 row-cols-md-4">
  <% Pet.all.each do |pet| %>
    <%= render "pets/pet_card", pet: pet %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Estimated birthday</th>
      <th>Status</th>
      <th>Gender</th>
      <th>Weight</th>
      <th>Children competability ranking</th>
      <th>Dog competability ranking</th>
      <th>Cat competability ranking</th>
      <th>Home alone competability ranking</th>
      <th>Activity competability ranking</th>
      <th>Notes</th>
      <th>Species</th>
      <th>Picture</th>
      <th>Human socialability competability ranking</th>
      <th>Enrichment competability ranking</th>
      <th>Adoption center identifier</th>
      <th>Pictures count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.estimated_birthday %></td>
        <td><%= pet.status %></td>
        <td><%= pet.gender %></td>
        <td><%= pet.weight %></td>
        <td><%= pet.children_competability_ranking %></td>
        <td><%= pet.dog_competability_ranking %></td>
        <td><%= pet.cat_competability_ranking %></td>
        <td><%= pet.home_alone_competability_ranking %></td>
        <td><%= pet.activity_competability_ranking %></td>
        <td><%= pet.notes %></td>
        <td><%= pet.species %></td>
        <td><img src="<%=pet.pictures.first.image%>" class="card-img-top img-fluid" alt="<%=pet.pictures.first.image%>"></td>
        <td><%= pet.human_socialability_competability_ranking %></td>
        <td><%= pet.enrichment_competability_ranking %></td>
        <td><%= pet.adoption_center_identifier %></td>
        <td><%= pet.pictures_count %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>
